div::-webkit-scrollbar {
  width: 0;
}
.bkpc {
  scrollbar-width: none;
  position: fixed;
  top: 0;
  right: 0;
  filter: blur(10px);
  transition: all 0.1s;
  background: url('../pic/backgroud.webp') center center / cover no-repeat;
  width: 100%;
  height: 100%;
}
